@import "tailwindcss";

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@utility font-main {
  font-family: "Playfair Display", serif;
}

@utility font-inter {
  font-family: "Inter", sans-serif;
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }
}